.about
  %i.fa.fa-video-camera{ style: "color: #730E15; font-size: 2em; position: relative; left: 50%;" }

    %p
      er44r4 Video tour:

  .about-inner
    -#%a.about-logo{:href => ""}
      -#%img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\n"}
    .about-copy
      %h1 Take image you would like to check - whether it complies nature law of harmony
      %p
        A few reasons why this product is worth using, what it is for and why you need it.
        %br
        First wide reason and second short reason.
    .about-video
      %i.fa.fa-video-camera.strong dgfdgdfg
      %p
        Video tour:
      -#%a{:href => ""}
      -#  %img{:alt => "play video tour", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\n",
      -#  :style => "width:20px; height:20px;", :title => "play video tour" }

