%p{style: " font-size: 1em; position: relative; left: 40%;"}
  %span{ style: "color: #730E15; font-size: 1.3em; position: relative; left: 11%;" }
    %i.fa.fa-flag.iconsMain{ style: "color: #730E15; font-size: 1em; " }
    App is in Progress/Maintenance
