- provide(:title, "Contacts")

%h1 Contacts
%p
  Contact the Ruby on Rails Tutorial about the sample app at the
  = succeed "." do
    %a{:href => "http://www.railstutorial.org/contact"} contact page
    %i.fa.fa-flag.iconsMain{ style: "color: #C44BB4; font-size: 2em; position: relative; left: 25%;" }
