%i.fa.fa-flag.iconsMain{ style: "color: #25b45e; font-size: 2em; position: relative; left: 25%;" }
%h1 Help - URL = http://localhost:3000/main/help
%p
  Get help on the Ruby on Rails Tutorial at the
  = succeed "." do
    %a{:href => "http://www.railstutorial.org/help"} Rails Tutorial help page
  = succeed "." do
    %a{:href => "http://www.railstutorial.org/book"}
      %em Ruby on Rails Tutorial
      book
