%footer.footer
  -#%small
  -#  The
  -#  %a{:href => "http://www.railstutorial.org/"} Ruby on Rails Tutorial
  -#  by
  -#  %a{:href => "http://www.michaelhartl.com/"} Michael Hartl
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contacts_path
      -#%li
      -#  %a{:href => "http://news.railstutorial.org/"} News

  %i.fa.fa-flag.iconsMain{ style: "color: #730E15; font-size: 2em; position: relative; left: 3%;" }
    %p{style: " display:inline-block; font-size: 1em"}Application is in Progress/Maintenance
