-#:javascript
-#  function overlay() {
-#    var el = document.getElementById("overlay");
-#    el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
-#    console.log("IN list_results: overlay()" );
//  };

-#/**
-# * Created by aleks_i on 25.03.16.
-# */



%button.button__left.modalBtn

  -#%a{"data-remote" => "true", :format => "js", :href => "results_list", 'data-target' => '#overlay_m',  :onclick => "overlay()", :title => "List all your diagnosys results"} list results
  %a{ :href => "results_list",  :title => "List all your diagnosys results"}
    = t('.results_list')




