-#/**
-# * Created by aleks_i on 25.03.16.
-# */


%button.button__left
  -#Load image
  %a{"data-remote" => "true", :format => "js", :href => "upload_image", :title => "Upload image from www"} upload image
  -#= link_to '', choose_image_path,  :format => "js", remote: true


