-#/**
-# * Created by aleks_i on 25.03.16.
-# */


%button.button__left
  = link_to 'select image', choose_image_path, :title => "Select image from your device folder",  :format => "js", remote: true

-#%a.button__left{:href => choose_from_folder_path, :format => "js", remote: true}
-#  -#%span.btn__price $9.99
-#  %span Select image


  -#.select_image
  -#  -#%button{:OnClick => " location.href='images/choose_from_folder' "} Visit Page Now
  -#  %button{:OnClick => html("<%= j render 'choose_from_folder' -%>") } Visit Page Now
  -#%button.link
  -#   = link_to 'Select image', choose_image_path,  :format => "js", remote: true
