.indicator
  %h2
    Here - will be indicator - show the diags result of current image. - by Color, depends upon diag value

.box1
  %h3
    Inside box1. с фоновым градиентом

.box2
  %h3
    Inside box2. animation
