.scale_diags
  %h3
    Here - will be scale of diags - show the place of diags result for current image -
    on the common scale line.
    Position marked by place of marker, with digit value of result.
    On hold pointer on scale line or hover - show small image picture.

.box_scale
  %h2 Модель прямоугольника

.box3
  %h3 Rotate
