//header add-on stylings

li.logged
  color: #c4f7ff
  position: relative
  margin-top: 1.1em
  //font-weight: bold


  .gravatar-logged
    height: 50%
    width: 50%


.navbar-inverse .navbar-nav > li > a
  color: #c4f7ff
  //font-weight: bold

